<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ title }} | 计本1班3组超市</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/register.js"></script>
    {% block head %}{% endblock head %}
</head>
<body>

{% block body %}{% endblock body %}

    <div class="footer no-mp">
		<div class="foot_link">
			<a href="#">18计本1韩舰浩</a>
			<span>|</span>
			<a href="#">18计本1赵崇亦</a>
			<span>|</span>
			<a href="#">18计本1孟承</a>
			<span>|</span>
			<a href="#">18计本1李梓祎</a>
            <span>|</span>
			<a href="#">18计本1高铭石</a>
            <span>|</span>
			<a href="#">18计本1李程</a>
		</div>
		<p>CopyRight © 2019 计本1班3组实验项目 All Rights Reserved</p>
		<p>电话：***********    豫ICP备NULL号</p>
	</div>

</body>
</html>